body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

#content {
    width: 500px;
}

input {
    display: block;
    margin-bottom: 10px;
    width: 90%;
    height: 20px;
    padding-left: 5px;
    padding-top: 4px;
}

button {
    height: 30px;
}