body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    width: 500px;
}

input {
    display: block;
    margin-bottom: 10px;
    width: 300px;
}